@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,300&display=swap');
* {
  box-sizing: border-box;
}
body {
    position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #343540;
}

.body#home {
    position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #343540;
    overflow: hidden;
}

.body#home:target .row {
    animation: fadein 1.3s;
}

.body#abt {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: #343540;
    transition: background-color 1.2s ease;
    opacity: 0;
    pointer-events: none;
}

.body#abt:target {
    background-color: ghostwhite;
    opacity: 1;
    pointer-events: auto;
}

p, a{
    font-family: 'DM Mono', monospace;
    font-size: 18px;
    color: lightgray;
    line-height: 1.3;
}

.big{
  font-size: 50px;
  transition: all .3s;
  cursor: default;
  -webkit-user-select: none;
}

.big:hover{
  color: orange;
}

.dark-mode{
  color: #343540 !important;
}

.small-font{
  font-size: 16px;
}

.navtext {
    font-family: 'DM Mono', monospace;
    color: lightgray;
    font-style: normal !important;
}

.navtext:hover {
    font-style: normal !important;
}

.closed {
    font-style: italic !important;
}

a {
    color: gainsboro;
    font-size: 30px;
    text-decoration: none;
}

.profpic {
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.column {
    width: 60%;
    float: right;
    display: inline-block;
}

.picture {
    width: 40%;
    float: left;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
}

.mobile {
  display: none;
  padding: 10%;
}

@media only screen and (max-width: 800px) {

    .desktop {
      display: none;
    }
    .mobile {
      display: block;
      background: white;
    }
    .body#home {
        overscroll-behavior: contain;
    }


    .body#code {

    }

    .picture {
        width: 100%;
    }

    .column {
        width: 100%;
        padding-left: 6%;
        padding-right: 6% !important;
        text-align: center;
    }

    p {
        font-size: 18px;
    }

    .about {
        padding-right: 0 !important;
        top: 100%;
        padding-top: 0 !important;
    }

    .contactrow {
        padding-right: 0 !important;
    }

    .nav {
        width: 100%;
        display: inline-block;
        justify-content: center !important;
        text-align: center;
    }

    .kevin {
        width: 100%;
        display: flex;
        justify-content: center !important;
        text-align: center;
        justify-content: flex-end;
    }
    .kevimg {
        display: inline-block !important;
        height: 38px !important;
    }

    ul {
        padding-top: 3px !important;
    }
    li {
        display: inline-block;
    }

    .navbar {
        padding-top: 10px;
        display: inline-block;
    }

    .profpic {
        width: 40%;
        padding-bottom: 0;
    }

    .units {
      width: 10% !important;
    }

    .units-color {
        width: 10% !important;
    }

    .special {
        width: 30%;
    }

    .project-wrapper {
        width: 100% !important;
        height: 20% !important;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .table {
        height: 100% !important;
    }

    .proj-graphic {
        filter: grayscale(0%) !important;
    }

}

@media screen and (max-width: 800px) and (min-width: 431px) {
    .about {
        padding-right: 10% !important;
        top: 100%;
        padding-top: 0 !important;
    }
}

.about {
    padding-right: 20%;
    top: 50%;
    padding-top: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
}

li {
  float: left;
    padding-right: 20px;
}

.art {
    float: left;
}

.kevin {
    float: left;
    padding-left: 3%;
    text-align: center;
}

.nav {
    padding-left: 3%;
}

#github {
    transform: translateX(-100);
}

.contactrow {
    padding-bottom: 20px;
    padding-right: 20%;
    text-align: center;
}

.contact {
    width:80%;
}

.kevimg {
    height: 38px;
}

.navbar {
    height: 80px;
    position: relative;
}

.close {
    filter: grayscale(100%);
    transition: all .4s;
}

.close:hover {
    filter: grayscale(0%);
}

.contactimg {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    animation: fadein 3s;
}

.fade {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.gallery {
    height: 100%;
    margin-top: 1%;
    width: 80%;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    float: left;
    overflow: hidden;
}

.caption {
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    float: left;
}

.artimg {
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items:center;
    justify-content:center;
    opacity: 1;
}

.artimg-sub {
    max-height: 100%;
    max-width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    text-align: center;
    float: left;
}

.artcap {
    color: darkgray;
    font-size: 18px;
    text-align: center;
    position:relative;
    display: none;
    width: 74%;
    padding-left: 26%;
    height: 5%
}

.slide-wrapper {
    height: 70%;
    display: flex;
}
.scroll-left {
    float: left;
    height: 100%;
    margin-top: 1%;
    width: 10%;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
}

.scroll-right {
    float: right;
    height: 100%;
    margin-top: 1%;
    width: 10%;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
}

.scroll {
    width: 35%;
    filter: grayscale(100%);
    transition: filter .3s;
}

.scroll:hover {
    filter: grayscale(0%);
}

.units {
    width: 6%;
    padding: 1%;
    filter: grayscale(100%);
    transition: filter .3s;
    display: inline-block;
}

.units:hover {
    filter: grayscale(0%);
}

.units-color {
    width: 6%;
    padding: 1%;
    filter: grayscale(0%);
}

.units-wrap {
    text-align: center;
}

.table {
    width: 94%;
    height: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align:center;
}

.project-wrapper {
    width: 45%;
    height: 98%;
    display: inline-block;
    vertical-align: text-top;
}

.graphic-wrapper {
    width: 40%;
    height: 100%;
    text-align: center;
    padding: 5%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    float: left;
    vertical-align: middle;
}

.proj-graphic {
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(90%);
    transition: filter .4s;

}

.proj-graphic:hover {
    filter: grayscale(0%);
}
.proj-text {
    width: 60%;
    float: right;
    word-wrap: break-word;
    text-align:left;
    padding-left: 1%;
    padding-top: 3%;
    vertical-align: top;
    display: inline;
}

.proj-text > p {
    vertical-align: top;
    display: inline;
    line-height: 1.3;
}

.proj-title {
    font-size: 22px;
    color: rgb(255,153,102);
}

.proj-lang {
    font-size: 16px;
    color: darkgray;
}

.proj-desc {
    font-size: 16px;
}
